body {
    background-color: #46aebe;
    background-image: linear-gradient(19deg, #4492a1 0%, #644574 100%);
    height: 100vh;
}
 
.container {
    max-width: 500px;
}
 
input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background:  rgb(0, 0, 0);
}
 
.to-dos li {
    background: rgba(0, 0, 0, 0.562);
}
 
.delete {
    cursor: pointer;
}

.logo{
    left: 50%;
    position: absolute;
    top: 50%;
  
    transform: translate(-60%, -60%);
}